* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --gray-800:#1e293b;
    
}
header {
    background-image: url(./imagem/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;

    display: flex;
    justify-content:center;
    align-items: center;

    margin-bottom: 3.7rem;
}
main {
    padding-inline: 1.5rem;
}

.descricao h1 {
    color: var(--gray-800);
}
